<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Студия наращивания волос</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar" id="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="/"><img src="/images/logot.png" alt="LocoPeco" class="logo-text"></a>
                <a href="/"><img src="/images/logo_pelo.png" alt="LocoPeco" class="logo-text lv2"></a>
            </div>
            <ul class="nav-menu" id="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Главная</a>
                </li><li class="nav-item">
                    <a href="/extensions" class="nav-link">Наращивание</a>
                </li>
                <li class="nav-item">
                    <a href="/education" class="nav-link active">Обучение</a>
                </li>
                
                <li class="nav-item">
                    <a href="/products" class="nav-link">Товары</a>
                </li>
            
            <ul class="nav-item">
                <% if (locals.user) { %>
                    <a href="/profile" class="nav-link"> <%= user.name %></a>
                    <% } else { %>
                        <a href="/auth/login" class="nav-link">Войти</a>
                <% } %>
                <span id="styl"><i class="fa-solid fa-circle-half-stroke"></i></span>
            </ul></ul>
            <div class="hamburger" id="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div></div>
        </div></nav>

<section class="hero her3">
        <div class="hero-content">
            <h1 class="hero-title">Обучение наращиванию от Loco Pelo</h1>
            <p class="hero-subtitle">Делимся своим опытом и авторскими наработками!</p>
            <div class="hero-buttons">
                <a href="#progi" class="btn btn-primary">Смотреть программы</a>
                <a href="tel:+79033664261" class="btn btn-primary">Консультация</a>
            </div>
            <p class="hero-subtitle">Старт потока: через месяц. <br>Только 5 мест</p>
        </div>
        <div class="hero-overlay"></div>
    </section>

    <section class="section story-section2">
        <div class="container">
            
                <div class="story-text">
                    <h2 class="section-title l">Совершенство с 2005 года с приверженностью качеству, инновациям и удовлетворенности клиентов:</h2>
                    <div class="infb8 l">
                    <p>Все мастера LocoPelo владеют техникой, позволяющей аккуратно, с ювелирной точностью, при помощи маленьких прочных капсул, прикреплять к родным волосам дополнительные пряди.</p>
                    <p>Размер капсул от 2 до 3 мм, вес - 0,2 грамма. Это позволяет им быть незаметными для окружающих, комфортными в носке и абсолютно безопасными для своих локонов.</p>
                    <p>Капсульное наращивание уникально, потому что подходит для тонких волос, коротких стрижек и частичного наращивания (височная зона, концы, чёлка).</p>
                   </div>
                </div>

        </div>
    </section>

    <section class="section features1">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title l">Что вас ждёт?</h2>
                <p class="infb8 l">Обучение – консультация. Обучение - мотивация. Обучение – развитие.</p>
            </div>
           <div class="features-grid">
                <div class="feature-card">
                    <i class="fa-solid fa-crown"></i>
                    <h3 class="feature-title">Понятная теория</h3>
                    <p class="feature-description">Получаете полезную информацию и разбираете её.</p>
                </div>
                <div class="feature-card">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <h3 class="feature-title">Практические задания</h3>
                    <p class="feature-description">Выполняете задания преподавателя и закрепляете новые знания.</p>
                </div>
                <div class="feature-card">
                    <i class="fa-solid fa-id-card-clip"></i>
                    <h3 class="feature-title">Именной сертификат</h3>
                    <p class="feature-description">Получаете именной сертификат о прохождении обучения.</p>
                </div>
            </div>
            <div class="section-header2">
                <h2 class="section-title l">И главное</h2>
                <p class="section-subtitle">новые знания станут вашими востребованными навыками, которые вы легко сможете монетизировать!</p>
            </div>
        </div>
    </section>

    <section class="section mission-section bg-white" id="progi">
        <div class="container">
            <div class="mission-content">
                <h2 class="section-title">Программы обучения:</h2>
                <div class="cgapc">
                    <button class="collapsible">1. Базовые навыки ↓</button>
    <div class="content">
        <p class="pz">Подойдёт тем, кто только начинает свой путь в наращивании.</p>
            <div class="proga-content">
                <div class="story-text">
                    
                    <div class="stb">
                        <h3 class="feature-title">Продолжительность: 2 дня</h3>
                    <div class="stt">
                    <p>День 1. Теория + постановка рук
                        <br>Рабочее место и инструменты мастера.
                        <br>Разбираемся в качестве волос, учимся готовить срезы волос к наращиванию, работать с кератином и делать аккуратные надёжные капсулы. Разбираем технику наращивания на манекене.</p>
                    <p>День 2. Практика + разбор ошибок
<br>
Выполнение самостоятельного наращивания на реальной модели под контролем преподавателя. <br>После - сертификат авторского курса Loco Pelo.</p>
                   </div>
                </div>
                </div>

                <div class="story-text">
                    <h3 class="feature-title">Результат:</h3>
                    <p>Знание основ наращивания и владение базовыми навыками - можно приступать к самостоятельной работе.</p>
                    <h3 class="feature-title">Дополнительно:</h3>
                    <li>Включение в закрытый чат мастеров.</li>
                    <li>Гайд по выбору волос.</li>
                    <li>Скидка 20% на закупку волос собственного производства.</li>
                    <h3 class="feature-title pz">65 000 р</h3>
                   </div>
            </div>
    </div>

    <button class="collapsible">2. Базовые навыки + Бизнес наставничество ↓</button>
    <div class="content">
        <p class="pz">Для тех, кто хочет развивать свой бизнес в сфере наращивания волос.</p>
            <div class="proga-content">
                <div class="story-text">
                    
                    <div class="stb">
                        <h3 class="feature-title">Продолжительность: 3 дня <br>+ 3 бизнес-консультации</h3>
                    <div class="stt">
                    <p>День 1: Основы наращивания + техника работы с капсулами + рабочее место и инструменты мастера.
<br>
Разбираемся в качестве волос, учимся готовить срезы волос к наращиванию, грамотно определять размер капсул и капсулировать пряди с использованием карды. <br>
Узнаем особенности работы с разными структурами волос (прямые, волнистые, пушистые). <br>
Расскажем о безопасном снятия наращенных прядей. <br><br> Практика: 
<li>Капсулирование с карды.</li>
<li>Отработка на болванке: постановка техники и руки.</li>
<li>Разбор ошибок и корректировка движений.</li></p>
                    <p>День 2: Углублённая практика на моделях
<br>
Учимся подбирать волосы под клиента. <br>
Знакомимся со схемами распределения прядей под разные типы стрижек. <br>
<br>
Практика на моделях по схемам распределения прядей + детальный разбор ошибок.</p>

<p>День 3: Экзамен + получение сертификата
<br>
Выполнение самостоятельного наращивания и адаптационной стрижки.</p>
                   </div>
                </div>
                </div>

                <div class="story-text">
                    <h3 class="feature-title">БИЗНЕС-НАСТАВНИЧЕСТВО <br>- 3 онлайн-консультации с руководителем Loco Pelo по 40 минут.</h3>
                    <p>Темы: 
                        <li>Где и как покупать инструменты и волосы для наращивания. Безопасные сделки.</li>
                        <li>Маркетинг и продвижение (выбор рекламных каналов и инструментов, ведение соцсетей, использование ИИ для создания контента).</li>
                        <li>Бухгалтерия и финансы (планирование, формирование цен на услуги, расчёт бизнес-показателей).</li>
                        <li>Официальное оформление, налоги, регламенты.</li>
                    </p>
                    <h3 class="feature-title">Дополнительно:</h3>
                    <li>Включение в закрытый чат мастеров.</li>
                    <li>Гайд по выбору волос (как не нарваться на мошенников).</li>
                    <li>Список необходимых инструментов и контактов поставщиков.</li>
                    <li>Скидка 20% на закупку волос собственного производства.</li>
                    <li>Инструкция по продвижению на разных площадках.</li>
                    <h3 class="feature-title">85 000 р</h3>
                   </div>
            </div>
    </div>

    <button class="collapsible">3. Расширенный курс ↓</button>
    <div class="content">
        <p class="pz">Для мастеров, заинтересованных в профессиональном и финансовом росте.</p>
            <div class="proga-content">
                <div class="story-text">
                    
                    <div class="stb">
                        <h3 class="feature-title">Продолжительность: 5 дней <br>+ 5 бизнес-консультаций</h3>
                    <div class="stt">
                    <p>День 1: Подбор волос для наращивания + эффективная работа с поставщиками.
<br>Рабочее место и инструменты.
<br>Обсудим качество, ценовые категории срезов и критерии их выбора.
<br>Расскажем, как избежать мошенников при покупке волос.
<br>Поделимся контактами надёжных поставщиков.
<br>Расскажем о технике безопасного наращивания + практика.
<br>Разберём разные техники капсуляции, включая микро, нано и стандартные капсулы.
<br>Обсудим особенности работы с каждым видом капсул с учётом структуры волос: от прямых до кудрявых и пушистых.
<br>Научим создавать идеальные капсулы – крепкие и надёжные.</p>

                    <p>День 2: Вы узнаете, как выполняют безопасное снятие наращенных прядей мастера Loco Pelo.
<br>Отработка техники наращивания на реальной модели.
<br>Разбор типичных ошибок.
<br>Постановка рук.</p>

<p>День 3: Практика
<br>Показываем схемы распределения прядей под разные типы стрижек.
<br>Тренируемся наращивать волосы без утяжеления, с получением естественного вида.</p>
<p>День 4: Практика
<br>
Оттачивание новых навыков на моделях, разбор ваших вопросов.</p>

<p>День 5: Экзамен + получение сертификата
<br>Самостоятельное наращивание волос на модели с дальнейшей адаптационной стрижкой и укладкой.
<br>Проверка правильности распределения прядей, фиксации капсул и их формы.</p>
                   </div>
                </div>
                </div>

                <div class="story-text">
                    <h3 class="feature-title">БИЗНЕС-НАСТАВНИЧЕСТВО<br> - 5 онлайн-консультаций с руководителем Loco Pelo по 60 минут.</h3>
                    <p>Темы: 
                        <li>Как собрать эффективную команду, правильно взаимодействовать с командой, рабочие регламенты.</li>
                        <li>Стратегии для привлечения клиентов.</li>
                        <li>Маркетинг и продвижение (выбор рекламных каналов и инструментов, ведение соцсетей).</li>
                        <li>Как использовать ИИ для создания контента.</li>
                        <li>Ценообразование и зарплата: как правильно устанавливать цены на услуги, чтобы бизнес был прибыльным.</li>
                        <li>Автоматизация бизнес-процессов: как сэкономить время и работать более эффективно.</li>
                        <li>Как удерживать клиента: сервис, лояльность и обратная связь.</li>
                        <li>Взаимодействие с разными типами клиентов. Работа с жалобами, претензиями.</li>
                    </p>
                    <h3 class="feature-title">Результат:</h3>
                    <p>Вы владеете техникой наращивания мастеров Loco Pelo, знаете свои точки роста и готовы к масштабированию бизнеса.</p>
                    <h3 class="feature-title">Дополнительно:</h3>
                    <li>Разработка стратегии</li>
                    <li>Включение в закрытый чат мастеров</li>
                    <li>Контакты надёжных поставщиков</li>
                    <li>Гайд по выбору волос (как не нарваться на мошенников)</li>
                    <li>Скидка 20 % на закупку волос собственного производства</li>
                    <li>Шаблоны договоров, необходимых для работы с клиентами</li>
                    <li>Инструкция по продвижению на разных площадках</li>
                    <h3 class="feature-title">180 000 р</h3>
                   </div>
            </div>
    </div>

    <button class="collapsible">4. Индивидуальное обучение ↓</button>
    <div class="content">
        <p class="pz">Для мастеров, предпочитающих персонализированный подход в обучении.</p>
            <div class="proga-content">
                <div class="story-text">
                    
                    <div class="stb">
                        <h3 class="feature-title">Продолжительность: 1 день</h3>
                    <div class="stt">
                    <p>По запросу составляется индивидуальная программа.</p>
                    <p>Темы:
                        <li>Наращивание для сложных стрижек: короткие, средней длины, каскад.</li>
                        <li>Работа с капсуляцией (микро, нано, стандарт). Секреты мастеров Loco Pelo.</li>
                        <li>Исправление ошибок в технике наращивания волос.</li>
                    </p>
                   </div>
                </div>
                </div>

                <div class="story-text">
                    <p>Можно выбрать любой аспект наращивания волос, который необходимо отработать.
                    </p>
                    <h3 class="feature-title">Результат:</h3>
                    <p>Вы приобретаете нужные вам знания и навыки, улучшаете свою технику.</p>
                    <h3 class="feature-title">39 000 р</h3>
                   </div>
            </div>
     </div>
            </div>
        </div>
    </section>

        <section class="section stats-section w">
        <div class="container">
            <h2 class="section-titlen en">Как проходит обучение:</h2>
            <div class="stats-grid">
                <div class="stat-item eo">
                    <h3 class="feature-titlen">1. Теория</h3>
                    <p class="feature-description">Знакомитесь с темой урока, получаете полезную информацию, разбираете её.</p>
                </div>

                <div class="stat-item eo">
                    <h3 class="feature-titlen">2. Практика</h3>
                    <p class="feature-description">Выполняете задания преподавателя и закрепляете новые знания.</p>
                </div>

                <div class="stat-item eo">
                    <h3 class="feature-titlen">3. Работа с наставником</h3>
                    <p class="feature-description">Обсуждаете результаты, исправляете ошибки и совершенствуете навыки.</p>
                </div>

                <div class="stat-item eo">    
                    <h3 class="feature-titlen">4. После</h3>
                    <p class="feature-description">Получаете именной сертификат о прохождении обучения.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section story-section bg-white">
        <div class="container">
            <div class="story-content">
                <div class="story-text">
                        <h3 class="section-title l">Метод обучения:</h3>
                    <div class="infb8 l">
                    <p><li>Обновлённый авторский курс, построенный на реальном опыте.</li>
                    <li>Есть программы для новичков и профи.</li>
                    <li>Занятия на 60% состоят из практических заданий.</li>
                    <li>Обучение в небольших группах или индивидуально.</li>
                    </p>
                   </div>
                </div>

                    <img class="xz" src="/images/хз.jpg" alt="#">
            </div>
        </div>
    </section>

    <section class="section story-section bg-white2">
        <div class="container">
            <h2 class="section-title">После обучения:</h2>
            <div class="story-content b7">
                <div class="posleobucha">
                    <h3 class="infb8">Начинающий специалист:</h3>
                    <div class="infb8 l"><p>
                    <li>Научится находить общий язык с клиентами, определять потребности и предлагать варианты наращивания уже на первой консультации.</li>
                    <li>Узнает, как правильно подбирать пряди, капсулы и выполнять качественное наращивание.</li>
                    <li>Разберётся, где и как искать первых клиентов и завоевать их доверие.</li>
                    <li>Поймёт, какие действия приносят нужный результат и станет мастером в своём деле!</li>
                    </p></div>
                </div>

                <div class="posleobucha">
                    <h3 class="infb8">Практикующий мастер:</h3>
                    <div class="infb8 l"><p>
                    <li>Освоит новые техники сложного капсульного наращивания и усовершенствует свои профессиональные навыки.</li>
                    <li> Научится результативно продвигать себя в соц. сетях, чтобы быть востребованным специалистом.</li>
                    <li>Определит точки роста для дальнейшего развития и повысит стоимость своих услуг.</li>
                    <li>Прокачает навыки, откроет для себя дополнительные возможности и точки роста!</li>
                </p></div>
                   </div>
            </div>
            </div>
    </section>

    <section class="section mission-section bg-white">
        <div class="container">
            <div class="mission-content">
                <h2 class="section-title">FAQ</h2>
                <div class="cgapc">
                    <button class="collapsible">Чем ваша программа отличается от других?</button>
    <div class="content">
        <p>В этом курсе собрана самая важная на наш взгляд, интересная и актуальная информация о капсульном наращивании. Её изучение поможет тем, кто стремится к успешной карьере в данной сфере.
        <br>Во время обучения вы познакомитесь с эффективными методиками наращивания, разовьёте полезные для работы навыки и закрепите новые знания через практику.
        <br>Опытный мастер освежит знания, отточит своё умение, добавит в копилку новые схемы и техники наращивания и будет на несколько шагов впереди конкурентов.
        <br>Начинающему мастеру курс поможет превратить полученные знания в профессиональный опыт и позволит избежать ошибок и подводных камней при выполнении первых наращиваний.
        <br>Программа Loco Pelo состоит из авторских наработок и проверенных на практике методик, доказавших свою эффективность. В ней много примеров и заданий для отработки теории.</p>
    </div>
    <button class="collapsible">Никогда не занималась наращиванием. У меня получится?</button>
    <div class="content">
        <p>Конечно! Если вы хотите работать с волосами и делать клиенток красивыми, уверенными в себе, если вы открыты новым знаниям и готовы учиться, - всё обязательно получится. В этом вам помогут опытные наставники, которые помогут разобраться в теории и будут курировать вас на протяжении всего обучения. Так вы сможете перенять опыт и профессиональные секреты.
<br><br>
После прохождения курса тоже остаёмся на связи – вы сможете консультироваться с нами по интересующим вас вопросам.</p>
    </div>
    <button class="collapsible">Я смогу общаться с преподавателем после завершения курса?</button>
    <div class="content">
        <p>Да! У нас с вами будет Telegram-чат, в котором можно общаться, задавать вопросы, показывать фотографии выполненных работ и получать обратную связь в виде консультаций и рекомендаций от наставника.</p>
    </div>
    <button class="collapsible">Ваш курс слишком дорогой</button>
    <div class="content">
        <p>Инвестиции в знания, которые пригодятся вам в работе – самые ценные вложения!
<br>
Обратите внимание на то, как составлена наша программа. Акцент сделан на полном погружении в тему урока и практическом применении данной информации, её закреплении для дальнейшего использования в работе.
<br>
Вы отрабатываете новые знания, тренируетесь и, в итоге, получаете качественный результат.
<br>
Спектр ваших профессиональных возможностей расширяется, а это означает, что обучение по капсульному наращиванию начнёт окупаться сразу после его прохождения – достаточно ежедневно применять на практике хотя бы 2-3 лайфхака от эксперта Loco Pelo.</button>
     </div>
            </div>
        </div>
    </section>

<footer class="footer" id="footr">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <div class="footer-logo">
                        <a href="/"><img src="images/logot.png" alt="LocoPeco" class="logo-text"></a>
                    </div>
                    
                </div><div class="soc">
                    <a class="ss svk" href="https://vk.com/locopelo_orenburg"><i class="fa-brands fa-vk"></i></a>
                    <a class="ss ws" href="https://wa.me/79033664261"><i class="fa-brands fa-whatsapp"></i></a>
                    <a class="ss stg" href="https://t.me/breigbali"><i class="fa-brands fa-telegram"></i></a>
                 </div>
                <a href="tel:+79033664261" class="footer-description">+7 (903) 366-42-61<br>
                        Консультация</a>
            </div>

            <div class="footer-bottom">
                <div class="fb-grid">
                <div class="fu">
                    <a href="https://locopelo.ru/assets/landing/files/personal-data-processing-policy-2025.pdf">Политика конфиденциальности</a>
                </div>
                <div class="fu">
                    <a href="https://locopelo.ru/assets/landing/files/consent-to-processing-of-personal-data-2025.pdf">Согласие на обработку перс. данных</a>
                </div>
                <div class="fu">
                    <a href="https://locopelo.ru/assets/landing/files/contract-offer_training-for-building-up-2025.pdf">Договор-оферта</a>
                </div>
            </div>
                <p>© 2026. Все права защищены.</p>
            </div>
        </div>
    </footer>
<script src="/js/main.js"></script>
</body>
</html>